.tutors_tutor {
  width: 24rem;
  height: 15.8rem;
  border-radius: 2rem;
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
  background-color: var(--body-backgroundColor);
  box-shadow: -0.2rem 0 3rem -0.3rem rgba(0, 0, 0, 0.1);

  &:nth-child(3) {
    z-index: 999;
  }

  .tutor__title {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;

    .title__image {
      width: 4.1rem;
      height: 4.1rem;
      border-radius: 50%;
    }

    .title__name_position {
      .name_position__name {
        font-size: 1.8rem;
        font-weight: 500;
      }

      .name_position__position {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }

    .title__rate_icon {
      display: grid;
      align-self: flex-start;
      grid-template-columns: auto auto;

      .title__rate {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
  }

  .tutor__about {
    width: 221px;
    font-size: 1.4rem;
    font-weight: 400;
    position: absolute;
    bottom: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .tutors_tutor {
    width: 100% !important;

    .tutor__title {
      position: relative;
      display: flex !important;

      .title__name_position {
        margin-left: 1rem;
      }

      .title__rate_icon {
        position: absolute;
        right: 0.4rem;
        gap: 0.2rem;
      }
    }

    .tutor__about {
      width: 95% !important;
    }
  }
}
