#skilled_tutor {
  margin-top: -16.5rem;

  .skilled_tutor__main {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: auto auto;

    .main__tutors,
    .main__find {
      width: 49rem;
      height: 39.2rem;
    }

    .main__tutors {
      display: grid;
      grid-row-gap: 0.5rem;
      grid-column-gap: 0.5rem;
      padding: 3.5rem 0 3.5rem 0;
      grid-template-columns: auto auto;
    }

    .main__find {
      padding: 7.1rem 3rem 13.2rem 6rem;

      .content {
        margin-top: 1.7rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .skilled_tutor__main {
    grid-row-gap: 3.6rem;
    grid-template-columns: auto !important;

    .main__tutors,
    .main__find {
      width: 100% !important;
    }

    .main__find {
      height: auto !important;
      padding: 0 !important;
      text-align: center;
    }
  }
}

@media (max-width: 1060px) {
  #skilled_tutor {
    margin-top: -20rem !important;
  }
}

@media (max-width: 700px) {
  #skilled_tutor {
    margin-top: -10rem !important;

    .skilled_tutor__main {
      grid-row-gap: 35rem;
    }

    .main__tutors {
      grid-template-columns: auto !important;
    }
  }
}
